In [46]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import collections

In [21]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

In [20]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [22]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# запишите свой вариант ответа
answers['1'] = '723    Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [63]:
data1 = data.copy()
data1[data1.budget == data1.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [ ]:
answers['1'] = '723    Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157	Gods and Generals	214'

In [66]:
data2 = data.copy()
data2[data2.runtime == data2.runtime.max()][['original_title', 'runtime']]

         original_title  runtime
1157  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
data3 = data.copy()
data3[data3.runtime == data3.runtime.min()][['original_title', 'runtime']]

      original_title  runtime
768  Winnie the Pooh       63

In [ ]:
answers['3'] = '768	Winnie the Pooh	63'

# 4. Какова средняя длительность фильмов?

In [13]:
data4 = data.copy()
round(data4.runtime.mean(), 0)

110.0

In [ ]:
answers['4'] = '110.0'

# 5. Каково медианное значение длительности фильмов?

In [14]:
data5 = data.copy()
round(data5.runtime.median(), 0)

107.0

In [ ]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [24]:
data6 = data.copy()
data6['profit'] = data6['revenue'] - data6['budget']
data6[data6.profit == data6.profit.max()][['original_title', 'profit']]

    original_title      profit
239         Avatar  2544505847

In [ ]:
answers['6'] = '239	Avatar	2544505847'

# 7. Какой фильм самый убыточный?

In [25]:
data7 = data.copy()
data[data.profit == data.profit.min()][['original_title', 'profit']]

       original_title     profit
1245  The Lone Ranger -165710090

In [ ]:
answers['7'] = '1245	The Lone Ranger	-165710090'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [26]:
data8 = data.copy()
counter = data[data.budget < data.revenue]
counter['revenue'].count()

1478

In [ ]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [27]:
data9 = data.copy()
data_nom = data[(data['release_year'] ==2008)][['original_title','profit']]
data_nom[data_nom.profit == data_nom.profit.max()].original_title.iloc[0]

'The Dark Knight'

In [ ]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
data10 = data.copy()
data_min = data[(data['release_year'] >= 2012) & data['release_year'] <= 2014]
data_min[data_min.profit == data_min.profit.min()].original_title.iloc[0]

'The Lone Ranger'

In [ ]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [29]:
data11 = data.copy()
data11['genres'] = data11['genres'].apply(lambda x:x.split('|'))
data11 = data11.explode('genres')
data11['genres'].value_counts().head(1)

Drama    782
Name: genres, dtype: int64

In [ ]:
answers['11'] = 'Drama    782'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
data12 = data.copy()
data12['genres'] = data12['genres'].apply(lambda x:x.split('|'))
data_explode_genres = data12.explode('genres')
data_profit = data_explode_genres[data_explode_genres.profit > 0]
data_profit['genres'].value_counts().head(1)

Drama    560
Name: genres, dtype: int64

In [ ]:
answers['12'] = 'Drama    560'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
data13 = data.copy()
data13['director'] = data13['director'].apply(lambda x:x.split('|'))
data13 = data13.explode('director')
data13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [ ]:
answers['13'] = 'Peter Jackson    6490593685'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
data14 = data.copy()
only_action = data[data.genres.str.contains('Action')].copy()
only_action['director'] = only_action['director'].str.split('|')
only_action = only_action.explode('director')
only_action.director.value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

In [ ]:
answers['14'] = 'Robert Rodriguez    9'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
data15 = data.copy()
data15 = data15[data15.release_year == 2012] # создали список с фильмами 2012го года
data15['cast'] = data15['cast'].str.split('|')
data_cast = data15.explode('cast')
data_cast.groupby('cast').revenue.sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

In [ ]:
answers['15'] = 'Chris Hemsworth    2027450773'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
data16 = data.copy()
data16['profit']=data16['revenue']-data16['budget']
data16['cast'] = data16['cast'].apply(lambda x: x.split('|'))
data16=data16.explode('cast')
data16.loc[data16['budget']> data16['budget'].mean()]['cast'].value_counts(ascending=False).head(1)

Matt Damon    18
Name: cast, dtype: int64

In [ ]:
answers['16'] = 'Matt Damon    18'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
data17 = data.copy()
data17['cast'] = data17['cast'].apply(lambda x:x.split('|'))
data17 = data17.explode('cast')
data17 = data17[data17.cast == 'Nicolas Cage']
data17['genres'] = data17['genres'].apply(lambda x:x.split('|'))
data17_genres = data17.explode('genres')
data17_genres.genres.value_counts().head(1)

Action    17
Name: genres, dtype: int64

In [ ]:
answers['17'] = 'Action    17'

# 18. Самый убыточный фильм от Paramount Pictures

In [67]:
data18 = data.copy()
data18 = data18[data18.production_companies.str.contains('Paramount Pictures')]
data18 = data18.sort_values('profit', ascending=False)
data18['original_title'].tail(1)

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [ ]:
answers['18'] = '925    K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
data19 = data.copy()
data19.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [ ]:
answers['19'] = '2015    25449202382'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
data20 = data.copy()
data20 = data20[data20['production_companies'].str.contains('Warner Bros')]
data20.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [ ]:
answers['20'] = '2014    2295464519'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
data21 = data.copy()
data21['release_date']=data21['release_date'].apply(lambda x: x.split('/'))
data21['month'] = data21['release_date'].apply(lambda x: x[0]) 
number_months = (collections.Counter(data21['month'].str.cat(sep = '|').split('|')).most_common(1)[0][0])
data21['month'] = data21['release_date'].apply(lambda x: int(x[0])) 
data21.month.value_counts().head(1)

9    227
Name: month, dtype: int64

In [ ]:
answers['21'] = '9    227'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
data22 = data.copy()
data22['director'] = data22['director'].apply(lambda x: x.split('/'))
data22.release_date = data22.release_date.apply(lambda x: x.split('/'))
data22['month'] = data22['release_date'].apply(lambda x: x[0])
pivot = data22.loc[data22['month'].isin(['6', '7', '8'])]
pivot['original_title'].count()

450

In [ ]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
data23 = data.copy()
data23['director'] = data23['director'].apply(lambda x: x.split('/'))
data23.release_date = data23.release_date.apply(lambda x: x.split('/'))
data23['month'] = data23['release_date'].apply(lambda x: x[0])
pivot = data23.loc[data23['month'].isin(['12', '1', '2'])]
pivot['director'].value_counts().head(1)

[Peter Jackson]    7
Name: director, dtype: int64

In [ ]:
answers['23'] = '[Peter Jackson]    7'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [51]:
data24 = data.copy()
data24['name_length'] = data24.original_title.apply(lambda x: len(x))
data24['production_companies_list'] = data24.production_companies.str.split("|")
production_companies = data24.explode('production_companies_list')
production_companies.groupby('production_companies_list').name_length.mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

In [ ]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [53]:
data25 = data.copy()
data25['max_lenght'] = data25.overview.apply(lambda x: len(x.split(' ')))
data25['production_companies_list'] = data25['production_companies'].str.split('|')
data25 = data25.explode('production_companies_list')
data25.groupby(['production_companies_list'])['max_lenght'].mean().sort_values().tail(1)

production_companies_list
Midnight Picture Show    175.0
Name: max_lenght, dtype: float64

In [71]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [54]:
data26 = data.copy()
data26 = data26.sort_values('vote_average')[['original_title', 'vote_average']]
data26.query('vote_average >= vote_average.quantile(0.99)').\
    sort_values('vote_average', ascending=False).\
    head(15)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
118                                    Interstellar           8.0
34                                             Room           8.0
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
138                        The Grand Budapest Hotel           7.9
1183                        The Wolf of Wall Street           7.9
370                                       Inception           7.9
119                         Guardians of the Galaxy           7.9
1800                                        Memento           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
124                                      Big Hero 6           7.8

In [75]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
data27 = data.copy()
data27['cast'] = data27['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
data27['pairs'] = data27['cast'].apply(lambda s: list(combinations(s, 2)))
data27 = data27.explode('pairs')
collections.Counter(data27['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [74]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint', 8

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)

In [76]:
answers['26']

'Inside Out, The Dark Knight, 12 Years a Slave'